extends layout

block content
  .ComponentHeader
    h1 Component Name: #{componentName}
  .ComponentDetails
    ul
      each e in data
        if e.key=='Author Contact'
          li #{e.key}: 
            a(href='mailto:'+e.val) #{e.val}
        else
          if e.key=='Repository' || e.key=='Homepage' || e.key=='Origin Url'
            li #{e.key}: 
              a(href=e.val) #{e.val}
          else            
            li #{e.key}: #{e.val}        

