block content
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/Chart.min.js')  
  script(src='/javascripts/component.js')
  script.
    var componentName='#{componentName}';
    var repoUrl='#{repoUrl}';
    var projectInfo=!{JSON.stringify(data).replace(/<\//g, '<\\/')};
    var safeName = '#{safeName}';

  div(class='ComponentDetails' id=safeName)
    .pulse
      canvas(id=''+safeName+'-Graph', width=100, height=100)
    .contents
      .badges
        each lb in data.linkBadges
          span(class='badge')
            span(class='badgeTag') 
              a(href=lb.url) #{lb.tag}
            span(class='badgeValue')
              a(href=lb.url) #{lb.value}
        each b in data.badges
          span(class='badge')
            span(class='badgeTag') #{b.tag}
            span(class='badgeValue') #{b.value}
      .details
        p Our assessment of this project: #{data.assessmentSummary}
      .feedback
        p Do you agree?
        a(id='agree' href="#")
          i.far.fa-thumbs-up.fa-2x
        a(id='disagree' href="#")
          i.far.fa-thumbs-down.fa-2x
        br
        .moreInfo(style='display: none;')
          br
          textarea#feedback(placeholder='Please describe your interpretation of this project' rows=4 cols=50 name='feedback-form')
          br
          input(id='submitReason' type='submit')
          .submissionStatus(style='display: none;')

