block content
  script(src='/javascripts/component.js')
  script.
    componentName='#{componentName}';
    repoUrl='#{repoUrl}';
  .ComponentDetails
    ul
      each e in data
        if e.key=='Author Contact'
          li #{e.key}: 
            a(href='mailto:'+e.val) #{e.val}
        else
          if e.key=='Repository' || e.key=='Homepage' || e.key=='Origin Url' || e.key=='Author Homepage'
            li #{e.key}: 
              a(href=e.val) #{e.val}
          else            
            li #{e.key}: #{e.val}        

