extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
  link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
  script(src='/javascripts/main.js')
  script.
    backdoor='#{backdoor}';

  h1= title
  .ProjectInfo#foldable
    h3 Welcome to #{title}
    div
      p #{title} is a OSS component searcher. It will try to find the component you are searching for and display statistics about it. The purpose is to enable an informed decision on which components to use in a project based on relevant component characteristica.    
      | #{title} is produced as part of the 
      a(href='http://orion-research.se/') Orion Research Project
      | . This project addresses the following scientific challenge: 
      blockquote How to make decisions successfully for efficiently using software components or services from different sources to develop competitive software-intensive systems in relation to the trade-off between functionality, time to market, cost, quality, legacy and risk? 
      | The project addresses development of software intensive products and services, including new development and building on existing assets (systems, components, platforms, etc.).
    h3 Evaluation of Orion Gamma
    div
      p As a part of further improving the presentation of the components, and to further understand the information that developers use and value when assessing and comparing different components, we invite you to participate in an evaluation of the Orion Gamma tool.
      p The task is simple. We would like you to think back to your most recent development projects, and in particular a time when you thought that you could solve a programming challenge with the help of a third party component.
      ul
        li Please remember what component you were looking for, and what problem you were intending to solve.
        li Please use Orion Gamma to search for components addressing the same problem you wanted to solve then. Currently, Orion Gamma only supports Node.js and their NPM package manager, but we would like you to pretend that the results you get are valid for your programming language of choice.
        li If you click on a component, more information will be presented. Along the top left there is a pie chart with a quick summary of vital data about the project as well as some other key information. Below this, there is a text description with our interpretation of this data.
        li Please look at the presented data and read the descriptions for some of the suggested components.
        li Please consider whether relevant data are presented for each component in order for you to compare them in a meaningful way.
        li Please consider whether you are able to find components that you think might have been good candidates for you to investigate further whether they would have been useful in your development project. You may refine your search if you need to.
        li Once you are done, please 
          a(href='https://forms.gle/jBL1diF5zqBZnpGL7') answer the short (15-20 minutes) questionnaire.
    h3 Presented Information
    div
      p The information collected is primarily statistics from the past six months of the development of the component. In particular, the following metrics are collected:
      ul
        li Number of Commits
        li Number of Tags
        li Number of Created Issues
        li Number of Closed Issues
        li Number of Forks
      p Together, these metrics are used to create an assessment of
      ul
        li How likely is it that development of the component will continue?
        li How responsive are the developers to the users of the component?
      p This is summarised as follows:
      img.image(src="images/exampleProject.png" width=800)
  if message
    .MessageBox
      p.message #{message}
      a(href=statsURL) [View Project]
  if backdoor
    .QuickLinksBox
      span.label Backdoor Quick Links
      div
        a(href='/') [Home] 
        a(href='/backdoor') [Backdoor Home] 
        a(href='/backdoor/allstats') [All Stats]
  .SearchBox
    script.
      handlers='#{handlers}';
    span.label Search for Component or Project: 
    input#search(type='search', placeholder='component or project Name')
  .SearchHandlers
    h2 Searching in:
    each handler in handlers
      span(id='Container' + handler)
        img#searchLogo(src='/images/' + handler + '.png')
        span(id='Status' + handler)
  .SearchResults
    h2#Results
    each handler in handlers
      div(id='Results' + handler)
        h3(id='ResultsSection' + handler)
        div(id=handler)       
