script(src='/javascripts/results.js')

each item in results
  .resultItem
    div(id='inputData', data-json=item)
    .sidebar
      span(id='spinner')
        a(href='#' class='quickLook-search')
          i.fas.fa-search.fa-2x(style='vertical-align: text-top;')
    .contents
      if backdoor
        a(href=item.trawlURL) [Deep Trawl] 
        | &nbsp;
      a(href='#' class='quickLook-search') #{item.name}
      | &nbsp;
      |  #{item.description}
      div(id=safeName, class='quickLookData notTrawled')
else
  .MessageBox
    p.message No Components or Projects were found.        

        
        
